html, body, main
{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas;
}


.icon {
    width: 2.4rem;

}

#canvas-container {
    width: 750px;
}

#canvas-container:hover {
    cursor: pointer;
}
 

#music-player > * {
    font-size: 1.6rem!important;
}



#player-card {
    font-family: Consolas, monospace;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#player-controls {
    display: flex;
    align-items: center;

}

#shuffle {
   margin-right: 1rem;
   align-items: center;
   font-weight: bolder;
}
   
#play-pause {
    width: 24px;
    line-height: 1;
    align-items: center;
}


#play-pause:hover, #shuffle:hover{
    opacity: 0.5;
}

#player-volume {
    display: flex;
    align-items: center;
    gap: 2px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

#player-volume:hover {
    opacity: 1;
}


.square-filled {
    width: 0.75em;
    aspect-ratio: 1/1;
    background-color: black;
}

#player-volume:hover {
    opacity: 0.8;
}

#volume:hover + #player-volume {
    opacity: 1;
}

.square-empty {
    width: 0.75em;
    aspect-ratio: 1/1;
    border: 2px solid black;
    background-color: transparent;
}


